html{
    font-size: 30px;
}

#outer-div1{
    height: 200px;
    width: 200px;
    background-color: darkblue;
    /* margin from all sides  */
    /* margin: 10px ; */
    /* margin from vertical and horizontal  */
    /* margin: 4px 10px; */
    /* margin from top, right/left and bottom  */
    /* margin: 4px 10px 20px; */
    /* margin from top right bottom left  */
    /* margin: 4px 10px 20px 30px; */
    /* margin-top: 10px; */
    display: inline-block;
    margin-right: 10px;
}
#inner-div1{
    height: 50%;
    width: 50%;
    background-color: aqua;
    display: inline-block;
}
#outer-div2{
    height: 200px;
    width: 200px;
    background-color: orange;
    display: inline-block;
    margin-left: -20px;
}